/* transition top para menus */

.btn {
  display: block;
  position: relative;
  padding: 10px;
  margin-bottom: 25px;
  width: 150px;
  height: 75px;
  background-color: #333;
  color: #FFF;
  text-transform: uppercase;
  border: 1px solid #333;
  cursor: pointer;
  /*tempo de duração da aplicação do hover*/
  transition: 1s;
}

.btn:hover {
  color: #333;
  background-color: #FFF;
}

.transition {
  width: 50px;
  height: 100px;
  background-color: red;
  transition: 1s;
}

.transition:hover {
  width: 250px;
  height: 450px;
  background-color: red;
}